[Bb]in
[Oo]bj
*resharper.user
build/
[Hh]elp/
*.suo
*.sln.cache
_ReSharper.*/
*.user
packages/*/
*.InstallLog
VERSION
*.g.3.5.csproj
*.g.csproj
*.g.4.csproj
*.docstates
StyleCop.Cache
*.dotCover
*.orig
*.ncrunchsolution
*.*crunch*
